<div class='row'>
  <div class='col-sm-3 col-lg-2'>
    <div class='box'>
      <div class='box-content'>
        <img class="img-responsive" src="http://placehold.it/230x230&amp;text=Photo" />
      </div>
    </div>
  </div>
  <div class='col-sm-9 col-lg-10'>
    <div class='box'>
      <div class='box-content box-double-padding'>
        <%= simple_form_for [:kobe, @user], :html => { :multipart => true }, wrapper: :up_down do |f| %>
          <fieldset>
            <div class='col-sm-4'>
              <div class='lead'>
                <i class='icon-github text-contrast'></i>
                基本信息
              </div>
              <small class='text-muted'><p>邮箱既是登录账号又是密保工具，当您忘记密码时可以通过邮箱重置。如果您变更了邮箱地址，需要重新激活。为了方便接受本站的推送信息，请使用常用的邮箱地址。</p></small>
            </div>
            <div class='col-sm-7 col-sm-offset-1'>
              <%= f.input :name, label: '姓名', placeholder: '真实姓名', required: true %>
              <%= f.input :email, label: 'Email', required: true %>
              <%= f.input :gender, label: '性别', as: :my_radio_buttons, collection: ['男','女'], required: true %>
              <%= f.input :birthday, label: '出生日期', as: :date_picker, required: true %>
              <%= f.input :identity_num, label: '身份证号码' %>
            </div>
          </fieldset>
          <hr class='hr-normal'>
          <fieldset>
            <div class='col-sm-4'>
              <div class='lead'>
                <i class='icon-user text-contrast'></i>
                个人资料
              </div>
              <small class='text-muted'><p>默认情况下，个人信息仅对系统内的其他成员可见，如果您不希望别人看到您的信息，您可以选择“信息保密”（姓名和性别不在保密范围内）。</p></small>
            </div>
            <div class='col-sm-7 col-sm-offset-1'>
              <%= f.input :mobile, label: '手机' %>
              <%= f.input :tel, label: '座机' %>
              <%= f.input :fax, label: '传真' %>
              <%= f.input :duty, label: '职务' %>
              <%= f.input :professional_title, label: '职称' %>
              <%= f.input :is_visible, label: '信息保密', as: :my_radio_buttons, collection: [['保密',true],['公开',false]], required: true %>
              <%= f.input :bio, label: '个人简历', as: :counter_text, allow_length: 800, warning_length: 780 %>
              <%= form_btn(f) %> 
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>