<div class='row'>
	<div class='col-sm-12'>
		<div class='box'>
			<h1>Kobe::Departments#edit</h1>
			<div class='box-content'>
				<%= simple_form_for [:kobe, @dep], :html => { :multipart => true } do |f| %>

				<%= f.input :name, label: '单位名称', placeholder: 'name !', hint: 'Numbers!!', required: true, required_type: { number: true, maxlength: 10, minlength: 6 }, readonly: true %>

				<%= f.input :is_secret, label: ' 是否保密',as: :my_radio_buttons, collection: [['是','true'],['否','false']], required: true %>

				<%= f.input :short_name, label: '简称', placeholder: 'Short_name !', tip: 'You cannot change your short_name!!', required: true, disabled: true %>

				<%= f.input :industry, label: ' 行业类别', as: :my_check_boxes, collection: ['Alaska','Hawaii','Washington','California'], required: true %>

				<%= f.input :legal_number, label: '多选', placeholder: 'legal_number !', collection: [['Alaskan/Hawaiian Time Zone',['Alaska','Hawaii']],['Pacific Time Zone',['California','Nevada','Oregon','Washington']],['Mountain Time Zone',['Arizona','Colorado','Idaho']]], as: :multiple_select, group_method: :last, required: true, tip: 'legal_number!!'  %>

				<%= f.input :org_code, label: '单选', placeholder: 'org_code !', collection: [['Alaskan/Hawaiian Time Zone',['Alaska','Hawaii']],['Pacific Time Zone',['California','Nevada','Oregon','Washington']],['Mountain Time Zone',['Arizona','Colorado','Idaho']]], as: :single_select, group_method: :last, required: true %>

				<%= f.input :tel, label: 'date_range_picker', placeholder: 'tel !', as: :date_range_picker, required: true %>
				<%= f.input :turnover, label: 'date_picker', placeholder: 'turnover !', as: :date_picker, required: true %>
				<%= f.input :details, label: 'time_picker', placeholder: 'details !', as: :time_picker, required: true %>
				<%= f.input :created_at, label: 'date_time_picker', placeholder: 'created_at !', as: :date_time_picker, required: true %>

				<%= f.input :legal_name, as: :autosize_counter_text, placeholder: 'legal_name !', label: 'Autosize Char counter', allow_length: 30, warning_length: 10, required_type: { number: true } %>
				<%= f.input :address, as: :autosize_text, placeholder: 'address !', label: 'Autosize textarea', required: true %>
				<%= f.input :post_code, as: :counter_text, placeholder: 'post_code !', label: 'Char counter', allow_length: 40, warning_length: 10, required: true %>
				<%= f.input :website, as: :maxlength_text, placeholder: 'website !', label: 'Max length', maxlength: 10, required: true %>
				
				<%= f.input :bank, placeholder: 'bank !', as: :box_select, box_param: { 'array' => [1,2,3,4,5,6], 'type' => 'icon', 'grid' => 2 } %>
				<%= f.association :user, as: :my_radio_buttons %>

				<%= f.button :submit %>
				<% end %>
			</div>


			<div class='col-sm-10 col-sm-offset-1'>
				<%= simple_form_for [:kobe, @dep], :html => { :multipart => true }, wrapper: :up_down do |f| %>

				<%= f.input :name, label: '单位名称', hint: 'Numbers!!', required: true %>

				<%= f.input :is_secret, label: ' 是否保密', as: :my_radio_buttons, collection: [['是','true'],['否','false']], required: true %>

				<%= f.input :short_name, label: '简称', placeholder: 'Short_name !', tip: 'You cannot change your short_name!!', required: true %>

				<%= f.input :industry, label: ' 行业类别', as: :my_check_boxes, collection: ['Alaska','Hawaii','Washington','California'], required: true %>

				<%= f.input :legal_number, label: '多选', collection: [['Alaskan/Hawaiian Time Zone',['Alaska','Hawaii']],['Pacific Time Zone',['California','Nevada','Oregon','Washington']],['Mountain Time Zone',['Arizona','Colorado','Idaho']]], as: :multiple_select, group_method: :last, required: true  %>

				<%= f.input :org_code, label: '单选', collection: [['Alaskan/Hawaiian Time Zone',['Alaska','Hawaii']],['Pacific Time Zone',['California','Nevada','Oregon','Washington']],['Mountain Time Zone',['Arizona','Colorado','Idaho']]], as: :single_select, group_method: :last, required: true %>

				<%= f.input :tel, label: 'date_range_picker', as: :date_range_picker, required: true %>
				<%= f.input :turnover, label: 'date_picker', as: :date_picker, required: true %>
				<%= f.input :details, label: 'time_picker', as: :time_picker, required: true %>
				<%= f.input :fax, label: 'date_time_picker', as: :date_time_picker, required: true %>

				<%= f.input :legal_name, as: :autosize_counter_text, label: 'Autosize Char counter', allow_length: 30, warning_length: 10, required: true, required_type: { number: true } %>
				<%= f.input :address, as: :autosize_text, label: 'Autosize textarea', required: true %>
				<%= f.input :post_code, as: :counter_text, label: 'Char counter', allow_length: 40, warning_length: 10, required: true %>
				<%= f.input :website, as: :maxlength_text, label: 'Max length', maxlength: 10, required: true %>

				<%= f.button :submit %>
				<% end %>
			</div>
		</div>
	</div>