    <header>
      <nav class='navbar navbar-default navbar-fixed-top'>
        <a class='navbar-brand' href='index.html'>
          <%= image_tag("logo.svg", size: "81x21", class: "logo",alt: "#{Dictionary.web_site_name}") %>
          <%= image_tag("logo_xs.svg", size: "21x21", class: "logo-xs",alt: "#{Dictionary.web_site_name}") %>
        </a>
        <a class='toggle-nav btn pull-left' href='#'>
          <i class='icon-reorder'></i>
        </a>
        <ul class='nav'>
          <li class='dropdown light only-icon'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <i class='icon-cog'></i>
            </a>
            <ul class='dropdown-menu color-settings' style="width:80px;">
              <li class='color-settings-contrast-color'>
                <div class='color-title'><i class='icon-magic'></i> &nbsp;变换主题颜色</div>
                <% Dictionary.colors.each do |color| %>
                  <%= raw "<a data-change-to='contrast-#{color[0]}' href='#''><i class='icon-cog text-#{color[0]}'></i> #{color[1]}</a>" %>
                <% end %>
              </li>
            </ul>
          </li>
          <li class='dropdown medium only-icon widget'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <i class=' icon-envelope-alt'></i>
              <div class='label'><%= @unread_notifications.length %></div>
            </a>
            <ul class='dropdown-menu'>
              <%= raw @unread_notifications.map{|n|show_notification(n)}.join("<li class='divider'></li>").html_safe %>
              <li class='widget-footer'>
                <a href='#'> 所有未读消息 </a>
              </li>
            </ul>
          </li>
          <li class='dropdown dark user-menu'>
            <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
              <img width="23" height="23" alt="Mila Kunis" src="<%= image_path('avatar.jpg') %>" />
              <span class='user-name'><%= "#{current_user.name}(#{status_cn(current_user)})" %></span>
              <b class='caret'></b>
            </a>
            <ul class='dropdown-menu'>
              <li>
                <a href='<%= profile_kobe_users_path %>'>
                  <i class='icon-user'></i>
                  个人资料
                </a>
              </li>
              <li>
                <a href='<%= change_password_kobe_users_path %>'>
                  <i class='icon-lock'></i>
                  重置密码
                </a>
              </li>
              <li>
                <a href='<%= setting_kobe_users_path %>'>
                  <i class='icon-cog'></i>
                  系统设置
                </a>
              </li>
              <li class='divider'></li>
              <li>
                <a href='/users/sign_out'>
                  <i class='icon-signout'></i>
                  安全退出
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <form action='<%= search_kobe_index_path %>' class='navbar-form navbar-right hidden-xs' method='get'>
          <button class='btn btn-link icon-search' name='button' type='submit'></button>
          <div class='form-group'>
            <input value="" class="form-control" placeholder="搜索..." autocomplete="off" id="q_header" name="q" type="text" />
          </div>
        </form>
      </nav>
    </header>