<div class='row'>
	<div class='col-sm-10 col-sm-offset-1'>
		<div class='box'>
			<div class='box-content'>
				<%= simple_form_for [:kobe, @article], :html => { :multipart => true } do |f| %>

				<%= f.association :article_categories, label: '所属栏目', hint: '按住"shift键"可以多选', required: true %>

				

				<%= f.input :title, label: '标题', placeholder: '标题', required: true %>


				<%= f.input :new_days, label: '标新天数', tip: '显示"new"标记的有效期', required: true, collection: (1..30).to_a.map{|x|["#{x}天",x]}, include_blank: '请选择' %>

				<%= f.input :top_type, label: '置顶类别', collection: Dictionary.top_type, as: :my_radio_buttons, required: true %>

				<%#= f.input :tags, label: '标签', collection: Dictionary.tags.articles, as: :multiple_select, group_method: :last, required: true  %>

				<%= f.input :access_permission, label: '访问权限', as: :my_check_boxes, collection: Dictionary.access_permission, required: true %>


				<%= f.simple_fields_for :content do |c| %>
					<%= c.input :content, label: '内容', as: :autosize_counter_text, allow_length: 3000, warning_length: 2900, required: true %>
				<%	end %>


				<%= f.button :submit %>
				<% end %>
			</div>
		</div>
	</div>
</div>