<div class='row'>
  <div class='col-sm-12'>
    <div class='box bordered-box green-border' style='margin-bottom:0;'>
      <div class='box-content box-no-padding'>
    	  <div style="padding:15px;">
	        <span class="btn btn-success">
            <i class="icon-plus icon-white"></i>添加文章
          </span>
          <span data-grid-name="grid" class="btn btn-info wg-external-csv-export-button">
          	<i class="icon-external-link  icon-white"></i>导出 CSV
          </span>
					<%= render :partial => 'search',:locals=>{:act=>"index"} %>
        </div>
      	<%= form_tag(batch_task_kobe_articles_path, method: "post", id: "batchFrom") do %>
      		<%= hidden_field_tag 'batch_task' %>
					<table style="margin-bottom:0;" class="table fixedheader table-bordered table-hover table-striped">
					  <thead>
					    <tr>
					    <th><%= check_box_tag 'selectAll' %></th>
					    	<th>序号</th>
					      <th>标题</th>
					      <th>作者</th>
					      <th>状态</th>
					      <th>时间</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody>
					    <% @articles.each_with_index  do |article,i| %>
					    <tr>
					    	<td><%= check_box_tag 'grid[]', article.id %></td>
					      <td><%= show_index(i) %></td>
					      <td><%= article.title %></td>
					      <td><%= article.author.name %></td>
					      <td><%= article.status_to_badge %></td>
					      <td><%= article.created_at %></td>
					      <td><%= oprate_btn(article) %></td>
					    </tr>
					    <% end %>
					  </tbody>
					</table>
	        <div style="padding:0 0 15px 15px;">
	        	<%= paginate @articles %>
		        <span class="btn btn-primary">
	            <i class="icon-legal icon-white"></i>审核选中
	          </span>
						<span class="btn btn-danger" onclick="doDelete();">
	            <i class="icon-trash icon-white"></i>删除选中
	          </span>
          </div>
	      <% end %>
      </div>
    </div>
  </div>
</div>