<!DOCTYPE html>
<html>
<head>
    <title><%= Dictionary.web_site_name %></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta content='text/html;charset=utf-8' http-equiv='content-type'>
    <meta content='<%= Dictionary.web_site_key_words %>' name='description'>
    <link href='<%= image_path('meta_icons/favicon.ico') %>' rel='shortcut icon' type='image/x-icon'>
    <link href='<%= image_path('meta_icons/apple-touch-icon.png') %>' rel='apple-touch-icon-precomposed'>
    <link href='<%= image_path('meta_icons/apple-touch-icon-57x57.png') %>' rel='apple-touch-icon-precomposed' sizes='57x57'>
    <link href='<%= image_path('meta_icons/apple-touch-icon-72x72.png') %>' rel='apple-touch-icon-precomposed' sizes='72x72'>
    <link href='<%= image_path('meta_icons/apple-touch-icon-114x114.png') %>' rel='apple-touch-icon-precomposed' sizes='114x114'>
    <link href='<%= image_path('meta_icons/apple-touch-icon-144x144.png') %>' rel='apple-touch-icon-precomposed' sizes='144x144'>
    <!-- / START - page related stylesheets [optional] -->
    <% assets_name =  Rails.env == "development" ? "/test/kobe" : "kobe" %>
    <%= stylesheet_link_tag assets_name %>
    <%= javascript_include_tag assets_name %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "ie" %>
    <![endif]-->
  </head>
  <body class='contrast-red fixed-header fixed-navigation'>
    <%= render :partial => '/layouts/kobe/head' %>
    <div id='wrapper'>
      <div id='main-nav-bg'></div>
      <nav id='main-nav' class='main-nav-fixed'>
        <div class='navigation'>
          <div class='search'>
            <form action='http://www.bublinastudio.com/flattybs3/search_results.html' method='get'>
              <div class='search-wrapper'>
                <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text" />
                <button class='btn btn-link icon-search' name='button' type='submit'></button>
              </div>
            </form>
          </div>
          <%= raw current_user.menus.html_safe %>
        </div>
      </nav>
      <section id='content'>
        <div class='container'>
          <div class='row' id='content-wrapper'>
            <div class='col-xs-12'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='page-header'>
                    <h1 class='pull-left'>
                      <i class='icon-user'></i>
                      <span>这里是MENU标题（图标）</span>
                    </h1>
                    <div class='pull-right'>
                      <ul class='breadcrumb'>
                        <li>
                          <a href='index.html'>
                            <i class='icon-home'></i>
                          </a>
                        </li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li>父菜单链接</li>
                        <li class='separator'>
                          <i class='icon-angle-right'></i>
                        </li>
                        <li class='active'>当前菜单</li>
                      </ul>
                    </div>
                  </div>
                  <%= render :partial => '/layouts/kobe/flash_show' %>
                </div>
              </div>
              <%= yield %>
            </div>
          </div>
          <footer id='footer'>
            <div class='footer-wrapper'>
              <div class='row'>
                <div class='col-sm-6 text'>
                  Copyright © <%= Dictionary.web_site_founded_year < Time.now.year ? "#{Dictionary.web_site_founded_year}-#{Time.now.year}" : Time.now.year %> <%= Dictionary.company_name %>
                </div>
                <div class='col-sm-6 buttons'>
                  <a class="btn btn-link" href="/aboutus">关于我们</a>
                  <a class="btn btn-link" href="/contactus">联系我们</a>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </section>
    </div>
   <%= render :partial => '/layouts/kobe/js' %>
  </body>
</html>