<div class='box-content'>
	<%= simple_form_for [:kobe, @menu], :html => { :multipart => true } do |f| %>

	  <%= f.input :parent_id, as: :hidden %>

		<%= f.input :parent_name, label: '父节点名称', disabled: true %>

		<%= f.input :name, label: '名称', placeholder: '名称', required: true %>

		<%= f.input :route_path, label: 'URL', placeholder: 'URL', hint: '相对路径' %>

		<%= f.input :status, label: '状态', as: :my_radio_buttons, collection: [['有效','1'],['无效','0']] %>

		<%= f.input :sort, label: '排序号', placeholder: '只能填数字', required: true, required_type: { number: true } %>

		<%= f.input :icon, label: '图标', as: :box_select, box_param: { 'array' => @icon, 'type' => 'icon' }, placeholder: '图标', required: true %>

		<%= form_btn(f) %>                 
		
	<% end %>
</div>

